# Ignore files inside _dev folder(s).
_dev
*_dev.*

# Ignore unnecessary folders.
.DS_Store
.phpintel

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-*
*_bak*.*
*.sublime-project
*.sublime-workspace

# keep all .htaccess, .gitkeep and index.html
!**/.htaccess
!**/.gitkeep
!**/index.html
