@charset "UTF-8";
/*!
 * CodeIgniter Skeleton - Default Theme
 * Copyright 2025 Kader Bouyakoub (https://github.com/bkader)
 */

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Fira Sans', 'Noto Kufi Arabic', Tahoma, Arial, sans-serif;
	padding-top: 5rem;
	padding-bottom: 6rem;
	font-size: .875rem;
	background-color: #d9d9d9;
	color: #414141;
}

.wrapper {
	margin-bottom: 2.5rem;
}

.dropdown-menu,
.form-control,
.form-select,
.btn,
input,
select,
textarea {
	font-family: 'Roboto', 'Noto Kufi Arabic', Tahoma, Arial, sans-serif;
	font-size: inherit;
}

.rtl .dropdown-menu,
.rtl .form-control,
.rtl .form-select,
.rtl .btn,
.rtl input,
.rtl select,
.rtl textarea {
	direction: rtl !important;
}

a:not(:hover,:focus,:active) {
	text-decoration: none;
}

.recaptcha {
	display: inline-block;
}

.user-menu {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.rtl .user-menu {
	border-left: none;
	border-right: 1px solid #eee; /* Fallback */
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.user-menu img {
	float: right;
	margin-left: 1rem;
	margin-top: -.2rem;
	max-width: 1.5rem;
}

.rtl .user-menu img {
	float: left;
	margin-left: 0;
	margin-right: 1rem;
	margin-top: -.2rem;
}

.avatar-male, .avatar-female {
	background-color : #d1d1d1;
	background-position: center center;
	background-repeat : no-repeat;
	display : inline-block;
	height : 14.062rem;
	width : 14.062rem;
}

.avatar-male {
	background-image: url(../img/profile-m.jpg);
}

.avatar-female {
	background-image: url(../img/profile-f.jpg);
}

/* Utilities */
.margin-none {
	margin: 0
}

.page-404 .outer {
	top: 0;
	display: table;
	width: 100%;
	height: 100%;
}

.page-404 .outer .middle {
	display: table-cell;
	vertical-align: middle;
}

.page-404 .outer .middle .inner {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.page-404 .outer .middle .inner .inner-circle {
	height: 300px;
	border-radius: 50%;
	background-color: #ffffff;
}

.page-404 .outer .middle .inner .inner-circle:hover i {
	color: #6c757d!important;
	background-color: #f5f5f5;
	-webkit-box-shadow: 0 0 0 1rem #6c757d;
	box-shadow: 0 0 0 1rem #6c757d;
}

.page-404 .outer .middle .inner .inner-circle:hover span {
	color: #6c757d;
}

.page-404 .outer .middle .inner .inner-circle i {
	font-size: 5rem;
	float: right;
	width: 8rem;
	height: 8rem;
	margin-top: -.7rem;
	margin-right: -.5rem;
	padding: 1.25rem;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
	text-align: center;
	color: #f5f5f5!important;
	border-radius: 50%;
	background-color: #6c757d;
	-webkit-box-shadow: 0 0 0 1rem #c0c0c0;
	box-shadow: 0 0 0 1rem #c0c0c0;
}

.page-404 .outer .middle .inner .inner-circle span {
	font-size: 13.5rem;
	font-weight: 700;
	line-height: 13.5rem;
	display: block;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
	text-align: center;
	color: #c0c0c0;
}

.page-404 .outer .middle .inner .inner-status {
	font-size: 1.25rem;
	display: block;
	margin-top: 1.25rem;
	margin-bottom: .312rem;
	text-align: center;
	color: #6c757d;
}

.page-404 .outer .middle .inner .inner-detail {
	line-height: 1.5rem;
	display: block;
	margin-bottom: .625rem;
	text-align: center;
	color: #999999;
}

footer.navbar {
	min-height: 1rem;
}

footer.navbar .navbar-text {
	margin-top: .625rem;
	margin-bottom: .625rem;
}

footer.navbar .menu-item {
	padding-top: .625rem;
	padding-bottom: .625rem;
}

.cookie-consent {
	position: fixed;
	bottom: 0;
	left: 50%;
	padding: 1rem;
	color: #fff;
	background-color: #222;
	z-index: 9999;
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	text-align: justify;
	-webkit-transform: translate(-50%, -5rem);
	-ms-transform: translate(-50%, -5rem);
	transform: translate(-50%, -5rem);
	width: 100%;
}

.dropdown-menu {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

.dropdown-menu-scroll {
	max-height: calc(100vh - 13rem);
	overflow-y: auto;
	overscroll-behavior: contain;
}

.no-resize {
	resize: none !important;
}

@media (min-width: 48rem) {
	.cookie-consent {
		max-width: 25rem;
		left: auto;
		right: 0;
		border-radius: .25rem;
		max-width: 25rem;
		-webkit-transform: translate(-5rem, -5rem);
		-ms-transform: translate(-5rem, -5rem);
		transform: translate(-5rem, -5rem);
	}

	.rtl .cookie-consent {
		left: 0;
		right: auto;
		-webkit-transform: translate(5rem, -5rem);
		-ms-transform: translate(5rem, -5rem);
		transform: translate(5rem, -5rem);
	}

	.fixed-md-top {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: var(--bs-navbar-zindex, 1030);
	}

	.fixed-md-bottom {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: var(--bs-navbar-zindex, 1030);
	}
}

.captcha {
	border-radius: .25rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@media (max-width: 36rem) {
	.dropdown-menu-scroll {
		max-height: calc(100vh - 8rem);
	}
}

@media (max-width: 48rem) {
	.dropdown-menu-scroll {
		max-height: calc(100vh - 48rem);
	}
}

@media (max-width: 62rem) {
	.dropdown-menu-scroll {
		max-height: calc(100vh - 48rem);
	}
}

/* md and up (≥768px) */
@media (min-width: 48rem) {

}

/* lg and up (≥992px) */
@media (min-width: 62rem) {
	.fixed-lg-top {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: var(--bs-navbar-zindex, 1030);
	}

	.fixed-lg-bottom {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: var(--bs-navbar-zindex, 1030);
	}
}

/* xl and up (≥1200px) */
@media (min-width: 75rem) {
	.fixed-xl-top {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: var(--bs-navbar-zindex, 1030);
	}

	.fixed-xl-bottom {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: var(--bs-navbar-zindex, 1030);
	}
}

/* xxl and up (≥1400px) */
@media (min-width: 87rem) {
	.fixed-xxl-top {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: var(--bs-navbar-zindex, 1030);
	}

	.fixed-xxl-bottom {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: var(--bs-navbar-zindex, 1030);
	}
}
