@charset "UTF-8";
/*!
 * CiSkeleton - Classic Theme
 * Copyright 2025 Kader Bouyakoub (https://github.com/bkader)
 */

html, body {
	height: 100%;
}

body {
	font-family: 'Fira Sans', 'Noto Kufi Arabic', Tahoma, Arial, sans-serif;
	font-size: .875rem;
	background-color: #d9d9d9;
	color: #414141;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* === ELEMENT FONTS === */

.dropdown-menu,
.form-control,
.form-select,
.btn,
input,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	direction: inherit;
}

/* === DROPDOWNS === */

.dropdown-menu {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

.dropdown-menu-scroll {
	max-block-size: calc(100vh - 12rem);
	overflow-y: auto;
	overscroll-behavior: contain;
}

/* === USER MENU === */

.user-menu img {
	margin-inline: auto .5rem;
}

/* === WRAPPERS === */

.wrapper {
	flex: 1 0 auto;
	margin-block-start: 3.5rem;
	padding-block: 1rem;
}

/* Fixes horizontal scroll */
.row {
	/*margin-inline: 0;*/
}

.wrapper-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-block-start: 0;
}

.wrapper-centered .row {
	--bs-gutter-x: 1rem;
	--bs-gutter-y: 1rem;
	justify-content: center;
}

.wrapper-auth .row {
	justify-content: center;
}

.wrapper-focus .row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 1.5rem;
}

.wrapper-focus aside {
	display: none;
}

.wrapper-dashboard .row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 1.5rem;
}

.wrapper-dashboard aside {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.wrapper-double .row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 1.5rem;
}

.wrapper-double aside {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.wrapper-triple .row {
	--bs-gutter-x: 1rem;
	--bs-gutter-y: 1rem;
}

.wrapper-triple aside {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* === FOOTER === */

.footer {
	flex-shrink: 0;
	z-index: 1;
	padding-block: .5rem;
	background-color: rgba(var(--bs-secondary-bg-rgb), 1);
	font-size: .875em;
}

.footer a {
	color: var(--bs-dark);
	padding: 0;
}

.footer .nav {
	justify-content: center;
	gap: .5rem;
}

/* === COOKIE CONSENT === */

.cookie-consent {
	position: fixed;
	inset-block: auto 5rem;
	text-align: justify;
	width: 100%;
	padding: 1rem;
	z-index: 1030;
	background-color: rgba(var(--bs-dark-rgb), .9);
	color: var(--bs-white);
}

/* === PAGE 404 === */

.csk-error_404 .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-3.25vh);
}

.csk-error_404 .error-outer {
	margin-inline: auto;
}

.csk-error_404 .error-middle {
	display: table-cell;
	vertical-align: middle;
}

.csk-error_404 .error-inner {
	margin-inline: auto;
}

.csk-error_404 .error-circle {
	position: relative;
	block-size: 18.75rem;
	inline-size: 18.75rem;
	border-radius: 50%;
	background-color: var(--bs-white);
}

.csk-error_404 .error-circle .fa {
	font-size: 5rem;
	width: 8rem;
	height: 8rem;
	padding: 1.25rem;
	transition: background-color .15s;
	text-align: center;
	color: var(--bs-white);
	border-radius: 50%;
	background-color: var(--bs-gray-600);
	box-shadow: 0 0 0 1rem var(--bs-gray-400);
	position: absolute;
	inset-block-start: 0;
	inset-inline-end: 0;
}

.csk-error_404 .error-circle:hover .fa {
	color: var(--bs-gray-600);
	background-color: var(--bs-white);
	box-shadow: 0 0 0 1rem var(--bs-gray-600);
}

.csk-error_404 .error-circle span {
	font-size: 13.5rem;
	font-weight: 700;
	line-height: 1;
	display: block;
	transition: background-color .15s;
	text-align: center;
	color: var(--bs-gray-400);
	position: absolute;
	inset-block-end: -2rem;
	inset-inline-start: 50%;
	transform: translateX(-50%);
}

.csk-error_404 .error-circle:hover span {
	color: var(--bs-gray-600);
}

.csk-error_404 .error-status {
	font-size: 1.25rem;
	display: block;
	margin-block: 3rem .312rem;
	text-align: center;
	color: var(--bs-secondary);
}

.csk-error_404 .error-detail {
	line-height: 1.5rem;
	display: block;
	margin-block-end: .625rem;
	text-align: center;;
	color: var(--bs-gray-600);
}

/* === WIDGETS === */

.widget-hero {
	padding-inline: 0 !important;
}

.widget-hero .widget-title {
	font-size: calc(1.425rem + 2.1vw) !important;
	color: var(--bs-primary);
}

/* === UTILITIES === */



/* === MEDIA QUERIES === */

/* sm and up (567px) */
@media (max-width: 36rem) {
	.dropdown-menu-scroll {
		max-block-size: calc(100vh - 8rem);
	}
}

@media (min-width: 36rem) {
}

/* md and up (≥768px) */
@media (max-width: 48rem) {
	.dropdown-menu-scroll {
		max-block-size: calc(100vh - 32rem);
	}
}

@media (min-width: 48rem) {
	.cookie-consent {
		max-inline-size: 25rem;
		border-radius: .25rem;
		inset-inline-end: 1rem;
		inset-block-end: 4rem;
	}

	.footer {
		padding-block: 1rem;
		border-block-start: 1px solid var(--bs-gray-300);
	}

	.footer .nav {
		justify-content: flex-end;
	}
}

/* lg and up (≥992px) */
@media (max-width: 62rem) {
	.dropdown-menu-scroll {
		max-block-size: calc(100vh - 32rem);
	}
}

@media (min-width: 62rem) {
	.user-menu {
		border-inline-start: 1px solid rgba(var(--bs-white-rgb), .2);
	}

	.wrapper-focus aside {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

/* xl and up (≥1200px) */
@media (min-width: 75rem) {
	.widget-hero .widget-title {
		font-size: 3rem !important;
	}
}

/* xxl and up (≥1400px) */
@media (min-width: 87rem) {
}
