name: Sync CSK Packages

# Option #1: Update on tag push.
# on:
#   push:
#     tags:
#       - '*' # Trigger on any tag
# Option #2: Update on push event to branch.
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '.dev/**'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
      - 'CITATION.cff'
      - '*.todolist'

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Compute values
        id: meta
        run: |
          echo "name=${GITHUB_REPOSITORY##*/}" >> $GITHUB_OUTPUT

      - name: Trigger update on csk-packages
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.CSK_PAT }}
          repository: ianhubnet/csk-packages
          event-type: update-submodules
          client-payload: |
            {
              "type": "${{ vars.CSK_TYPE }}",
              "name": "${{ steps.meta.outputs.name }}",
              "strip": "${{ vars.CSK_STRIP }}",
              "repo": "${{ github.repository }}"
            }
