name: Notify `ianhubnet/csk-packages`

# Option #1: Update on tag push.
# on:
#   push:
#     tags:
#       - '*' # Trigger on any tag
# Option #2: Update on push event to branch.
on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger update on csk-packages
        run: |
          NAME="${GITHUB_REPOSITORY##*/}"
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.CSK_PAT }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/ianhubnet/csk-packages/dispatches \
            -d "$(jq -n \
                --arg type "${{ vars.CSK_TYPE }}" \
                --arg name "$NAME" \
                --arg strip "${{ vars.CSK_STRIP }}" \
                --arg repo "${{ github.repository }}" \
                '{"event_type":"update-submodules","client_payload":{"type":$type,"name":$name,"strip":$strip,"repo":$repo}}')"
