name: Release and Dispatch

on:
  push:
    tags:
      - '*'
      - '!*alpha*'
      - '!*beta*'

permissions:
  contents: write

jobs:
  release:
    uses: ianhubnet/.github/.github/workflows/package.yml@main
    with:
      name: ${{ vars.CSK_NAME }}
      type: ${{ vars.CSK_TYPE }}
    secrets:
      token: ${{ secrets.CSK_PAT }}
