name: Release Package

on:
  push:
    tags:
      - '*'

permissions:
  contents: write # Needed for creating releases

jobs:
  build:
    name: Package and Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up variables
        id: vars
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          REPO_NAME=$(basename "${GITHUB_REPOSITORY}")
          STRIP="${{ vars.CSK_STRIP }}"
          NAME=${REPO_NAME#"$STRIP"}
          ZIP_NAME="${REPO_NAME}-${TAG_NAME}.zip"
          echo "tag=$TAG_NAME" >> $GITHUB_OUTPUT
          echo "name=$NAME" >> $GITHUB_OUTPUT
          echo "zip=$ZIP_NAME" >> $GITHUB_OUTPUT

      - name: Prepare ZIP contents
        run: |
          mkdir "${{ steps.vars.outputs.name }}"
          rsync -av --exclude='.git' \
                    --exclude='.github' \
                    --exclude='.dev' \
                    --exclude='.gitignore' \
                    --exclude='.gitattributes' \
                    --exclude='.editorconfig' \
                    --exclude='.gitmodules' \
                    --exclude='CITATION.cff' \
                    --exclude='*.todolist' \
                    --exclude="${{ steps.vars.outputs.name }}" \
                    ./ "${{ steps.vars.outputs.name }}"

      - name: Create ZIP archive
        run: |
          zip -r "${{ steps.vars.outputs.zip }}" "${{ steps.vars.outputs.name }}"

      - name: Create GitHub Release and Upload ZIP
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.vars.outputs.tag }}
          files: ${{ steps.vars.outputs.zip }}
